@using AlbumDatabaseServer.Data
@using AlbumDatabaseServer.Data
@inject AlbumService AlbumService
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
@if (!string.IsNullOrEmpty(album.AlbumCover))
{
	<div class="album-card @(displayInfo ? "album-card-large" : "album-card-small") " @onclick="() => HandleNavigation(album)">
		<div class="album-card-content">
			<img src="@album.AlbumCover" class="album-cover" />
			<div class="album-menu">
				<button class="function-button"
						@onclick:stopPropagation="true" @onclick="ToggleListen">
					<span class="material-symbols-outlined icon listen @(isListened ? "active" : "")">
						album
					</span>
				</button>
				<button class="function-button"
						@onclick:stopPropagation="true" @onclick="ToggleFavorite">
					<span class="material-symbols-outlined icon fav @(isFavorited ? "active" : "")">
						favorite
					</span>
				</button>
				<button class="function-button"
						@onclick:stopPropagation="true" @onclick="ToggleQueue">
					<span class="material-symbols-outlined icon q @(isQueued ? "active" : "")">
						@(isQueued ? "playlist_add_check_circle" : "playlist_add_circle")
					</span>
				</button>
			</div>
			@if (displayInfo)
			{
				<div class="album-info">
					@if (!string.IsNullOrEmpty(album.Name))
					{
						<subtitle1 class="album-title">@album.Name</subtitle1>
					}
					else
					{
						<subtitle1>Album name is missing!</subtitle1>
					}
					@if (album.Artist != null && !string.IsNullOrEmpty(album.Artist.ArtistName))
					{
						<body2 class="album-artist">@album.Artist.ArtistName</body2>
					}
					else
					{
						<subtitle1>Artist name is missing!</subtitle1>
					}
				</div>
			}
		</div>
	</div>
}
else
{
	<subtitle1>Album cover is missing!</subtitle1>
}


@code {
	[Parameter] public Album album { get; set; }
	[Parameter] public bool displayInfo { get; set; } = true;
	private bool isListened = false;
	private bool isFavorited = false;
	private bool isQueued = false;
	private string userName;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if (user.Identity.IsAuthenticated)
		{
			userName = user.Identity.Name;
			if (album != null)
			{
				isListened = await UserService.IsAlbumListenedAsync(album.AlbumId, userName);
				isFavorited = await UserService.IsAlbumFavoritedAsync(album.AlbumId, userName);
				isQueued = await UserService.IsAlbumQueuedAsync(album.AlbumId, userName);
			}
		}
	}
	public async Task ToggleListen()
	{
		if (!string.IsNullOrEmpty(userName) && album != null)
		{
			await UserService.ToggleListenAsync(album.AlbumId, userName);
			isListened = !isListened;
			if (isQueued && isListened)
			{
				await ToggleQueue();
			}
			StateHasChanged();
		}
	}
	public async Task ToggleFavorite()
	{
		if (!string.IsNullOrEmpty(userName) && album != null)
		{
			await UserService.ToggleFavoriteAsync(album.AlbumId, userName);
			isFavorited = !isFavorited;
			StateHasChanged();
		}
	}
	public async Task ToggleQueue()
	{
		if (!string.IsNullOrEmpty(userName) && album != null)
		{
			await UserService.ToggleQueueAsync(album.AlbumId, userName);
			isQueued = !isQueued;
			StateHasChanged();
		}
	}
	private void HandleNavigation(Album album)
	{
		var encodedArtistName = Uri.EscapeDataString(album.Artist.ArtistName);
		var encodedAlbumName = Uri.EscapeDataString(album.Name);
		NavigationManager.NavigateTo($"/albums/{encodedArtistName}/{encodedAlbumName}");
	}
}
