@page "/profile"
@using AlbumDatabaseServer.Data
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserService UserService
@using AlbumDatabaseServer.Components

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<PageTitle>@username's profile • Waveformd</PageTitle>
<div class="body">
	<div class="profile-header">
		@if (isUserLoggedIn)
		{
			<img src="@profilePictureUrl" class="profile-image" />
			<div class="profile-item">
				<h2>@username</h2>
			</div>
			<div class="profile-item">
				<button class="edit-button">
					Edit profile
				</button>
			</div>
			<div class="record-count">
				<h2 class="count-number">@listenCount</h2>
				<subtitle1 class="count-text">Albums</subtitle1>
			</div>
		}
	</div>
	<div class="profile-tray">
		<button class="profile profile-tab @(tabIndex == 0 ? "active" : "")"
				@onclick="() => tabIndex = 0">
			<h3>Profile</h3>
		</button>
		<button class="albums profile-tab @(tabIndex == 1 ? "active" : "")"
				@onclick="() => tabIndex = 1">
			<h3>Albums</h3>
		</button>
		<button class="queue profile-tab @(tabIndex == 2 ? "active" : "")"
				@onclick="() => tabIndex = 2">
			<h3>Queue</h3>
		</button>
		<button class="reviews profile-tab @(tabIndex == 3 ? "active" : "")"
				@onclick="() => tabIndex = 3">
			<h3>Reviews</h3>
		</button>
		<button class="lists profile-tab @(tabIndex == 4 ? "active" : "")"
				@onclick="() => tabIndex = 4">
			<h3>Lists</h3>
		</button>
		<button class="favorites profile-tab @(tabIndex == 5 ? "active" : "")"
				@onclick="() => tabIndex = 5">
			<h3>Favorites</h3>
		</button>

	</div>
	<div class="tab-content">
		@switch (tabIndex)
		{
			case 0:
				<ProfileTabP />
				break;
			case 1:
				<AlbumsTabP />
				break;
			case 2:
				<QueueTabP />
				break;
			case 3:
				<ReviewsTabP />
				break;
			case 4:
				<ListsTabP />
				break;
			case 5:
				<FavoritesTabP />
				break;
		
		}
	</div>
</div>

@code {
	[Parameter]
	public string tabName { get; set; }
	private bool isUserLoggedIn;
	private string username;
	private int tabIndex = 0;
	private string profilePictureUrl = "profile-pictures/default-profile.png";
	private int listenCount = 0;
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		isUserLoggedIn = user.Identity.IsAuthenticated;
		if (isUserLoggedIn)
		{
			username = user.Identity.Name;
			listenCount = await UserService.CountListenedAlbumsAsync(username);
		}
		Console.WriteLine("User logged in");
	}
	private void HandleNavigation()
	{
	}
}
