@page "/search/{searchQuery}"
@using AlbumDatabaseServer.Data
@inject AlbumService AlbumService
@inject NavigationManager NavigationManager
@inherits MainLayout

@if (searchResults == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else if (searchResults.Count == 0)
{
    <MudContainer Style="align-items">
        <h2 class="pt-16">No results</h2>
        <hr style="border: 1px solid #212121; margin-bottom: 12px; margin-top: 5px"/>
        <p>There were no matches for your search term.</p>
    </MudContainer>
}
else
{
    <MudContainer Class="pt-16">
        @if (searchResults.Count < 250)
        {
            <h3>Found @searchResults.Count matches for "@searchQuery"</h3>
        }
        else
        {
            <h3>Found at least 250 matches for "@searchQuery"</h3>
        }
        <hr style="border: 1px solid #212121; margin-bottom: 16px; margin-top: 5px;"/>
        @foreach (var result in searchResults)
        {
            <div class="result">
                <button class="view-album">
                    <MudImage Src="@result.AlbumCover" Alt="@result.Name" Width="200" Class="rounded-lg"
                              @onclick="()=> HandleNavigation(result)"/>
                </button>
                <div class="result-info">
                    <div class="name-date">
                        <a class="link-album" @onclick="() => HandleNavigation(result)">
                            <h1 class="result-name">@result.Name</h1>
                        </a>
                        <a class="link-year">
                            <h1 class="result-year">@result.ReleaseDate.Year</h1>
                        </a>
                    </div>
                    <a class="link-artist">
                        <h3 class="result-artist">@result.Artist.ArtistName</h3>
                    </a>
                    <MudChipSet Class="pt-16">
                        @foreach (var albumGenre in result.AlbumGenres)
                        {
                            var style = $"background: {GetGenreGradient(albumGenre.Genre.Name)};";
                            <MudChip Style="@style" Text="@albumGenre.Genre.Name"></MudChip>
                        }
                    </MudChipSet>
                </div>
            </div>
            <hr class="result-divider"/>
        }
    </MudContainer>
}



@code {
    [Parameter]
    public string searchQuery { get; set; }
    private List<Album> searchResults;
    protected override async Task OnInitializedAsync()
    {
        await LoadSearchResults();
    }
    protected override async Task OnParametersSetAsync()
    {
        await LoadSearchResults();
    }
    private async Task LoadSearchResults()
    {
        if (!string.IsNullOrEmpty(searchQuery))
        {
            searchResults = AlbumService.Albums
                .Where(album => album.Name.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                                album.Artist.ArtistName.Contains(searchQuery, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }
    private void HandleNavigation(Album album)
    {
        var encodedArtistName = Uri.EscapeDataString(album.Artist.ArtistName);
        var encodedAlbumName = Uri.EscapeDataString(album.Name);
        NavigationManager.NavigateTo($"/albums/{encodedArtistName}/{encodedAlbumName}");
    }
}
